<!-- Loop over each object in the projects array -->
{{#each recipes as |recipe|}}
  <div class='row mb-4 project'>

    {{recipe.name}}
    {{#each recipe.ingredients as |ing|}}
      <div>{{ing.name}}</div>
    {{/each}}
  </div>
{{/each}}